# Sample

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings 
warnings.filterwarnings('ignore')

In [7]:
df=pd.read_excel('dial.xlsx')

In [8]:
df

,Gender,DOB,Designation,Relationship,Time,S_Time,Day,Holiday,Status
0,Female,27/07/2002,Student,Friend,04:06:00,NaN,Friday,No,Yes
1,Female,27/07/2002,Student,Friend,07:36:00,NaN,Friday,No,Yes
2,Female,27/07/2002,Student,Friend,12:00:00,NaN,Friday,No,Yes
3,Female,27/07/2002,Student,Relation,11:01:00,NaN,Wednesday,No,Yes
4,Female,27/07/2002,Student,Relation,10:06:00,NaN,Tuesday,No,Yes
...,...,...,...,...,...,...,...,...,...
94,Female,27/07/2002,Student,Colleague,20:26:00,NaN,Wednesday,No,Yes
95,Female,27/07/2002,Student,Relation,15:03:00,NaN,Wednesday,No,Yes
96,Female,27/07/2002,Student,Relation,10:33:00,NaN,Saturday,Yes,Yes
97,Female,27/07/2002,Student,unknown,11:53:00,NaN,Wednesday,no,No
98,Female,27/07/2002,Student,Colleague,21:09:00,NaN,Monday,No,No

In [9]:
j=0
for i in df['Time']:
    i=str(i)
    df['S_Time'].iloc[j]='20/12/2001 '+i
    j+=1

In [10]:
df['S_Time']=pd.to_datetime(df['S_Time'])

In [11]:
df['hour']=df['S_Time'].dt.hour
df['minute']=df['S_Time'].dt.minute

In [1]:
from datetime import datetime

In [8]:
df['DOB']=pd.to_datetime(df['DOB'])

In [9]:
to_day=date.today()
today=pd.to_datetime(to_day)

In [10]:
df.insert(2,'Age',0)

In [11]:
for i in range(len(df['DOB'])):
    born=df['DOB'].iloc[i]
    age=today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    df.loc[i,'Age']=age

In [12]:
#born=df['DOB'].iloc[i]
#today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [13]:
df

,Gender,DOB,Age,Designation,Relationship,Time,S_Time,Day,Holiday,Status,hour,minute
0,FEMALE,2002-07-27,18,STUDENT,Friends,04:06:00,2001-12-20 04:06:00,Friday,No,Yes,4,6
1,FEMALE,2002-07-27,18,STUDENT,Friends,07:36:00,2001-12-20 07:36:00,Friday,No,Yes,7,36
2,FEMALE,2002-07-27,18,STUDENT,Friends,12:00:00,2001-12-20 12:00:00,Friday,No,Yes,12,0
3,FEMALE,2002-07-27,18,STUDENT,Relation,11:01:00,2001-12-20 11:01:00,Wednesday,No,Yes,11,1
4,FEMALE,2002-07-27,18,STUDENT,Relation,10:06:00,2001-12-20 10:06:00,Tuesday,No,Yes,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...
94,FEMALE,2002-07-27,18,STUDENT,Colleague,20:26:00,2001-12-20 20:26:00,Wednesday,No,Yes,20,26
95,FEMALE,2002-07-27,18,STUDENT,Relation,15:03:00,2001-12-20 15:03:00,Wednesday,No,Yes,15,3
96,FEMALE,2002-07-27,18,STUDENT,Relation,10:33:00,2001-12-20 10:33:00,Saturday,Yes,Yes,10,33
97,FEMALE,2002-07-27,18,STUDENT,unknown,11:53:00,2001-12-20 11:53:00,Wednesday,no,No,11,53
98,FEMALE,2002-07-27,18,STUDENT,Colleague,21:09:00,2001-12-20 21:09:00,Monday,No,No,21,9

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
status_encoder=LabelEncoder()

gender_encoder=LabelEncoder()
designation_encoder=LabelEncoder()
relationship_encoder=LabelEncoder()
day_encoder=LabelEncoder()
holiday_encoder=LabelEncoder()

In [16]:
df['Status']=status_encoder.fit_transform(df['Status'])

df['Gender']=gender_encoder.fit_transform(df['Gender'])
df['Designation']=designation_encoder.fit_transform(df['Designation'])
df['Relationship']=relationship_encoder.fit_transform(df['Relationship'])
df['Day']=day_encoder.fit_transform(df['Day'])
df['Holiday']=holiday_encoder.fit_transform(df['Holiday'])

In [17]:
df.columns

Index(['Gender', 'DOB', 'Age', 'Designation', 'Relationship', 'Time', 'S_Time',
       'Day', 'Holiday', 'Status', 'hour', 'minute'],
      dtype='object')

In [18]:
x=df[['Gender','Age', 'Designation', 'Relationship','Day', 'Holiday','hour', 'minute']]
y=df['Status']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
knn=KNeighborsClassifier(n_neighbors=2)

In [23]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [36]:
gender=gender_encoder.transform([input("Enter Gender : ")])[0]
age=int(input('Enter your Age :'))
designation=designation_encoder.transform([(input('Enter your designation :'))])[0]
relationship=relationship_encoder.transform([input('Enter Relationship :')])[0]
day=day_encoder.transform([input('Enter day :')])[0]
holiday=holiday_encoder.transform([input('Enter is today Holiday :')])
hour=datetime.now().hour
minute=datetime.now().minute

Enter Gender : FEMALE
Enter your Age :19
Enter your designation :STUDENT
Enter Relationship :Friends
Enter day :Friday
Enter is today Holiday :No

In [37]:
inp=[[gender,age,designation,relationship,day,holiday[0],hour,minute]]
inp

[[0, 19, 0, 1, 0, 0, 20, 56]]

In [38]:
status=knn.predict(inp)[0]
react=status_encoder.inverse_transform([status])[0]
print('Is the person can take this call ?',react)

Is the person can take this call ? No

In [40]:
print(knn.score(x_test,y_test)*100)

50.0

In [41]:
from sklearn.tree import DecisionTreeRegressor

In [42]:
dtr = DecisionTreeRegressor()

In [43]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [44]:
dtr.predict(inp)[0]

1.0

In [46]:
dtr.score(x_test,y_test)*100

-61.61616161616161

In [48]:
from sklearn.tree import DecisionTreeClassifier

# Make a decision tree and train
tree = DecisionTreeClassifier(random_state=42)
tree.fit(x_train,y_train)

DecisionTreeClassifier(random_state=42)

In [50]:
tree.predict(inp)[0]

1

In [52]:
tree.score(x_test,y_test)*100

65.0

In [1]:
import pandas as pd

In [39]:
da=pd.read_excel('saved.xlsx')

In [40]:
da

,Unnamed: 0,Name,Nick_name,Phone_number,Gender,DOB,Designation,Relation
0,0,Senthil,Sen,9944855452,Male,2001-12-20,Student,Friend
1,1,Senthilvadivel S,senthil,9750036138,Male,2001-12-20,Student,Colleague

In [41]:
inputt='Senthilvadivel S'

In [52]:
try:
    idx=da[da['Name']==inputt].index.values[0]
    statement=True
except IndexError:
    statement=False

In [53]:
if statement:
    name=da.loc[idx,'Name']
    nick_name=da.loc[idx,'Nick_name']
    phone_number=da.loc[idx,'Phone_number']
    gender=da.loc[idx,'Gender']
    age=dob(da.loc[idx,'DOB'])
    relation=da.loc[idx,'Relation']
    print(name,nick_name,phone_number,gender,age,relation)
else:
    print('You contact unknow person')

Senthilvadivel S senthil 9750036138 Male 20 Colleague

In [54]:
from datetime import datetime

In [55]:
today=datetime.today().year
date=da.loc[idx,'DOB'].year

In [56]:
'''
for i in range(len(df['DOB'])):
    born=da['DOB'].iloc[i]
    age=today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    d.loc[i,'Age']=age

'''

"\nfor i in range(len(df['DOB'])):\n    born=da['DOB'].iloc[i]\n    age=today.year - born.year - ((today.month, today.day) < (born.month, born.day))\n    d.loc[i,'Age']=age\n\n"

In [57]:

def dob(born):
    from datetime import datetime
    today=datetime.today()
    age=today.year-born.year-((today.month,today.day)>(born.month,born.today))
    return age

In [58]:
from datetime import datetime,date

In [59]:
date.today().isoweekday()

6

In [60]:
def day():
    day=date.today().isoweekday()
    if day==1:
        day='Monday'
    elif day==2:
        day='Tuesday'
    elif day==3:
        day='Wednesday'
    elif day==4:
        day='Thursday'
    elif day==5:
        day='Friday'
    elif day==6:
        day='Saturday'
    elif day==7:
        day='sunday'
    return day

In [61]:
from datetime import date
import pandas as pd
holiday=pd.read_excel('gov_holidays.xlsx')

def day():
    day=date.today().isoweekday()
    if day==1:
        day='Monday'
    elif day==2:
        day='Tuesday'
    elif day==3:
        day='Wednesday'
    elif day==4:
        day='Thursday'
    elif day==5:
        day='Friday'
    elif day==6:
        day='Saturday'
    elif day==7:
        day='sunday'
    return day

day=day()

holiday_list=[]
for i in range(len(holiday)):
    holiday_list.append(holiday['DATE'].iloc[i].date())

def check_holiday():
    if day=='Sunday':
        return 'Yes'
    elif date.today() in holiday_list:
        return 'No'
print(check_holiday())

None

In [62]:
def check_holiday():
    if day=='Sunday':
        statun='Yes'
    elif date.today() in holiday_list:
        status='Yes'
    else:
        status='No'
    return status
print(check_holiday())

No

In [68]:
name=da.loc[idx,'Name']
nick_name=da.loc[idx,'Nick_name']
phone_number=da.loc[idx,'Phone_number']
gender=da.loc[idx,'Gender']
age=dob(da.loc[idx,'DOB'])
relation=da.loc[idx,'Relation']
designation=da.loc[idx,'Designation']
#day=day()
holiday=check_holiday()
hour=datetime.now().hour
minute=datetime.now().minute
details=(name,nick_name,phone_number,gender,age,designation,relation,holiday,hour,minute)

In [70]:
name,nick_name,phone_number,gender,age,designation,relation,holiday,hour,minute=details

In [71]:
designation

'Student'

In [26]:
holiday_list=[]
for i in range(len(holiday)):
    holiday_list.append(holiday['DATE'].iloc[i].date())

In [28]:
holiday_list

[datetime.date(2021, 1, 1),
 datetime.date(2021, 1, 14),
 datetime.date(2021, 1, 15),
 datetime.date(2021, 1, 16),
 datetime.date(2021, 1, 26),
 datetime.date(2021, 4, 1),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 4, 13),
 datetime.date(2021, 4, 14),
 datetime.date(2021, 4, 25),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 5, 14),
 datetime.date(2021, 7, 21),
 datetime.date(2021, 8, 15),
 datetime.date(2021, 8, 20),
 datetime.date(2021, 8, 30),
 datetime.date(2021, 9, 10),
 datetime.date(2021, 10, 2),
 datetime.date(2021, 10, 14),
 datetime.date(2021, 10, 15),
 datetime.date(2021, 10, 19),
 datetime.date(2021, 11, 4),
 datetime.date(2021, 12, 25)]

In [29]:
date.today() in holiday_list

False